<!-- <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">

    <div class="container">
        <p class="sub-titulo">Para cadastrar sua ONG</p>
        <h1 class="titulo">Crie sua conta aqui</h1>
    </div>

    <div class="container-form">
    <form class="form">
        
        <div class="form-group">
              <label  for="e-mail">Endereço de E-mail</label>
              <input class="input" type="text" placeholder="insira seu e-mail">
          </div> 
          <div class="form-group">
            <label  for="name">Nome da ONG</label>
            <input class="input" type="text" placeholder="Insira o nome da ONG">
        </div> 
        <div class="form-group">
            <label  for="cnpj">CNPJ</label>
            <input class="input" type="number" placeholder="Insira o seu CNPJ">
        </div> 
        <div class="form-group">
            <label for="Cidade">Cidade</label>
            <select class="select" id="Cidade" name= "Cidade">
                <option value="">Selecione</option>
                <option value="AC">Acre</option>
                <option value="AL">Alagoas</option>
                <option value="AP">Amapá</option>
                <option value="AM">Amazonas</option>
                <option value="BA">Bahia</option>
                <option value="CE">Ceará</option>
                <option value="DF">Distrito Federal</option>
                <option value="ES">Espírito Santo</option>
                <option value="GO">Goiás</option>
                <option value="MA">Maranhão</option>
                <option value="MT">Mato Grosso</option>
                <option value="MS">Mato Grosso do Sul</option>
                <option value="MG">Minas Gerais</option>
                <option value="PA">Pará</option>
                <option value="PB">Paraíba</option>
                <option value="PR">Paraná</option>
                <option value="PE">Pernambuco</option>
                <option value="PI">Piauí</option>
                <option value="RJ">Rio de Janeiro</option>
                <option value="RN">Rio Grande do Norte</option>
                <option value="RS">Rio Grande do Sul</option>
                <option value="RO">Rondônia</option>
                <option value="RR">Roraima</option>
                <option value="SC">Santa Catarina</option>
                <option value="SP">São Paulo</option>
                <option value="SE">Sergipe</option>
                <option value="TO">Tocantins</option>
                <option value="EX">Estrangeiro</option>
            </select>
        </div> 
        <div class="form-group">
            <label  for="state">Estado</label>
            <select class="select" id="UF" name= "UF">
                <option value="">Selecione</option>
                <option value="AC">AC</option>
                <option value="AL">AL</option>
                <option value="AP">AP</option>
                <option value="AM">AM</option>
                <option value="BA">BA</option>
                <option value="CE">CE</option>
                <option value="DF">DF</option>
                <option value="ES">ES</option>
                <option value="GO">GO</option>
                <option value="MA">MA</option>
                <option value="MS">MS</option>
                <option value="MT">MT</option>
                <option value="MG">MG</option>
                <option value="PA">PA</option>
                <option value="PB">PB</option>
                <option value="PR">PR</option>
                <option value="PE">PE</option>
                <option value="PI">PI</option>
                <option value="RJ">RJ</option>
                <option value="RN">RN</option>
                <option value="RS">RS</option>
                <option value="RO">RO</option>
                <option value="RR">RR</option>
                <option value="SC">SC</option>
                <option value="SP">SP</option>
                <option value="SE">SE</option>
                <option value="TO">TO</option>
                <option value="EX">EX</option>
                </select>
        </div> 
        <div class="form-group">
            <label  for="endereço">Endereço</label>
            <input class="input" type="text" placeholder="Insira seu Endereço">
        </div> 
        <div class="form-group">
            <label  for="number">Número</label>
            <input class="input" type="number" placeholder="Insira o número">
        </div> 
        <div class="form-group">
            <label  for="complemento">Complemento</label>
            <input class="input" type="text" placeholder="Insira um complemento">
        </div> 
        <div class="form-group">
            <label  for="cep">CEP</label>
            <input class="input" type="number" placeholder="Insira O CEP">
        </div> 
        <div class="form-group">
            <label  for="tel">Celular</label>
            <input class="input" type="tel" placeholder="Insira o Celular com DDD">
        </div> 
        <div class="form-group">
        <button type="submit">Enviar</button>
        <div class="footer">
            <p class="footer-cadastro-one">Você já tem uma conta?</p>
            <p class="footer-cadastro-two">Entrar</p>
        </div>
        </div>
        </form>


    
</div> -->


<main class="master" [@slideAnimation]>
    <main class="main" style="position: relative;">

     
  

     

            <!-- <img src="../../assets/Group_218-removebg-preview.png" style="position: absolute; top: -45px; left: -8px; width: 400px;" alt=""> -->
          
          
            <form style="display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 24px; padding-top: 75px;z-index: 1; position: absolute; top: 0; right: 0; left: 0; margin: auto;">
        
          
          
              <div style="width: 80px; height: 80px; overflow: hidden; background-color: var(--zw-red); border-radius: 50%; position: relative;">
              
                <!-- <svg style="position: absolute; inset: 0 0 0 0; margin: auto;" xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="white" class="bi bi-person-fill" viewBox="0 0 16 16">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                  </svg> -->

         



                  <svg style="position: absolute; inset: 0 0 0 0; margin: auto;" xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="white" class="bi bi-bank" viewBox="0 0 16 16">
                    <path d="m8 0 6.61 3h.89a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v7a.5.5 0 0 1 .485.38l.5 2a.498.498 0 0 1-.485.62H.5a.498.498 0 0 1-.485-.62l.5-2A.501.501 0 0 1 1 13V6H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 3h.89L8 0ZM3.777 3h8.447L8 1 3.777 3ZM2 6v7h1V6H2Zm2 0v7h2.5V6H4Zm3.5 0v7h1V6h-1Zm2 0v7H12V6H9.5ZM13 6v7h1V6h-1Zm2-1V4H1v1h14Zm-.39 9H1.39l-.25 1h13.72l-.25-1Z"/>
                  </svg>
      
          </div>
          
           
          
              <div style="display: flex; flex-direction: column; align-items: center; gap: 38px; z-index: 1;">


                <div style="display: flex; flex-direction: column; align-items: flex-start; gap: 8px;">


   
              
       
                <div style="height: 40px; display: flex; width: 300px; align-items: center; background: white; overflow: hidden; border: 1px solid #b4b4b4; transition: 0.3s ease-in-out; box-sizing: content-box;" #nameContainer>
                  <div style="padding: 0 8px 0 8px; display: flex; justify-content: center; background: var(--zw-red); height: 100%; display: flex; align-items: center; justify-content: center;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-bank" viewBox="0 0 16 16">
                      <path d="m8 0 6.61 3h.89a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v7a.5.5 0 0 1 .485.38l.5 2a.498.498 0 0 1-.485.62H.5a.498.498 0 0 1-.485-.62l.5-2A.501.501 0 0 1 1 13V6H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 3h.89L8 0ZM3.777 3h8.447L8 1 3.777 3ZM2 6v7h1V6H2Zm2 0v7h2.5V6H4Zm3.5 0v7h1V6h-1Zm2 0v7H12V6H9.5ZM13 6v7h1V6h-1Zm2-1V4H1v1h14Zm-.39 9H1.39l-.25 1h13.72l-.25-1Z"/>
                    </svg>
                  </div>
                  <input  name="name" [(ngModel)]="name" type="text" style="flex-grow: 1; background-color: white;" placeholder="Nome da Instituição" [ngModelOptions]="{standalone: true}" (ngModelChange)="onNameInputChange()" #nameInput="ngModel" >

                  <div  *ngIf="valid_name" style="width: 30px; height: 100%; background: white; display: flex; justify-content: center; align-items: center; transition: 0.2s ease-in-out;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="var(--zw-red)" class="bi bi-check" viewBox="0 0 16 16">
                      <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                    </svg>
                  </div>
                </div>
          
          
                <div style="height: 40px; display: flex; width: 300px; align-items: center; background: white; overflow: hidden; border: 1px solid #b4b4b4; transition: 0.3s ease-in-out; box-sizing: content-box;" #emailContainer>
                  <div style="padding: 0 8px 0 8px; display: flex; justify-content: center; background: var(--zw-red); height: 100%; display: flex; align-items: center; justify-content: center;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                      <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
                    </svg>
                  </div>
                  <input  name="email" [(ngModel)]="email" type="email" style="flex-grow: 1; background-color: white;" placeholder="Email" [ngModelOptions]="{standalone: true}" (ngModelChange)="onEmailInputChange()" #emailInput="ngModel" >

                  <div  *ngIf="valid_email" style="width: 30px; height: 100%; background: white; display: flex; justify-content: center; align-items: center; transition: 0.2s ease-in-out;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="var(--zw-red)" class="bi bi-check" viewBox="0 0 16 16">
                      <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                    </svg>
                  </div>
                </div>

               
                <div style="display: flex; align-items: flex-start; background: white; overflow: hidden; flex-direction: column;">
                  <textarea #descriptionInput  [ngModelOptions]="{standalone: true}" [(ngModel)]="description" (ngModelChange)="onDescriptionInputChange()" style=" width: 300px; background-color: white; padding: 8px; outline: none; padding: 8px; border: 1px solid #b4b4b4;" name="" id="" cols="30" rows="5" placeholder="Descreva sua Instituição - Quando surgiu - Objetivos - Motivações - Breve História"></textarea>
                  <div style="display: flex; justify-content: space-between; width: 100%;">
                    <p style="color: rgb(170,170,170); font-size: .8em; text-align: start; flex-grow: 1;">Minimo de 85 caracteres</p>
                    <p style="color: rgb(170,170,170); text-align: end; width: fit-content;">{{description.length}}/400</p>
                  </div>
                </div>

              </div>


              <div>

                <h2 class="section-title">Horários</h2>
        
                <div style="display: flex; justify-content: flex-start; gap: 8px; background: white; width: 300px; overflow-x: scroll; overflow-y: hidden; padding-bottom: 8px;">

                  <div *ngFor="let day of weekdays; let i = index;">

                    <div (click)="changeDay(i)" [style.background]="day.active ? 'var(--zw-red)' : 'rgba(230,230,230,0.3)'" class="week-day-card" >
                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" [attr.fill]="day.active ? 'white' : 'gray'" class="bi bi-clock" viewBox="0 0 16 16">
                        <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
                      </svg>
                      <p [style.color]="day.active ? 'white' : 'gray'">{{day.day}}</p>
                    </div>

                  </div>
                    

                </div>

                <!-- week input -->
                <div style="max-height: 250px; height: fit-content; overflow-y: scroll;">

                  <div *ngFor="let day of weekdays; let i = index;">
                  <div *ngIf="day.active" style="display: flex; justify-content: space-between; width: 100%; flex-direction: column;">

                    <p style="color: rgb(180,180,180);">{{day.day}} (formato: 00:00)</p>
                    <div  style="display: flex; justify-content: space-between">

                <div style="display: flex; width: 145px; align-items: center; background: white; overflow: hidden; border: 1px solid #b4b4b4; transition: 0.3s ease-in-out; box-sizing: content-box;" #emailContainer>
                  <div style="padding: 0 8px 0 8px; display: flex; justify-content: center; background: var(--zw-red); height: 100%; display: flex; align-items: center; justify-content: center;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-stopwatch-fill" viewBox="0 0 16 16">
                      <path d="M6.5 0a.5.5 0 0 0 0 1H7v1.07A7.001 7.001 0 0 0 8 16a7 7 0 0 0 5.29-11.584.531.531 0 0 0 .013-.012l.354-.354.353.354a.5.5 0 1 0 .707-.707l-1.414-1.415a.5.5 0 1 0-.707.707l.354.354-.354.354a.717.717 0 0 0-.012.012A6.973 6.973 0 0 0 9 2.071V1h.5a.5.5 0 0 0 0-1h-3zm2 5.6V9a.5.5 0 0 1-.5.5H4.5a.5.5 0 0 1 0-1h3V5.6a.5.5 0 1 1 1 0z"/>
                    </svg>
                  </div>
                  <input maxlength="5" name="weekdayinput-{{day.day}}" [(ngModel)]="day.inputData" type="text" style="flex-grow: 1; background-color: white;" placeholder="Abertura" [ngModelOptions]="{standalone: true}" (ngModelChange)="onWeekDayInputChange($event, i)">

                  <div  *ngIf="valid_email" style="width: 30px; height: 100%; background: white; display: flex; justify-content: center; align-items: center; transition: 0.2s ease-in-out;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="var(--zw-red)" class="bi bi-check" viewBox="0 0 16 16">
                      <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                    </svg>
                  </div>
                </div>

                <div style="display: flex; width: 145px; align-items: center; background: white; overflow: hidden; border: 1px solid #b4b4b4; transition: 0.3s ease-in-out; box-sizing: content-box;" #emailContainer>
                  <div style="padding: 0 8px 0 8px; display: flex; justify-content: center; background: var(--zw-red); height: 100%; display: flex; align-items: center; justify-content: center;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-stopwatch-fill" viewBox="0 0 16 16">
                      <path d="M6.5 0a.5.5 0 0 0 0 1H7v1.07A7.001 7.001 0 0 0 8 16a7 7 0 0 0 5.29-11.584.531.531 0 0 0 .013-.012l.354-.354.353.354a.5.5 0 1 0 .707-.707l-1.414-1.415a.5.5 0 1 0-.707.707l.354.354-.354.354a.717.717 0 0 0-.012.012A6.973 6.973 0 0 0 9 2.071V1h.5a.5.5 0 0 0 0-1h-3zm2 5.6V9a.5.5 0 0 1-.5.5H4.5a.5.5 0 0 1 0-1h3V5.6a.5.5 0 1 1 1 0z"/>
                    </svg>
                  </div>
                  <input maxlength="5" name="email" [(ngModel)]="weekdaysclose[i].inputData" type="text" style="flex-grow: 1; background-color: white;" placeholder="Fechamento" [ngModelOptions]="{standalone: true}" (ngModelChange)="onWeekDayInputEndingChange($event, i)"  >

                  <div  *ngIf="valid_email" style="width: 30px; height: 100%; background: white; display: flex; justify-content: center; align-items: center; transition: 0.2s ease-in-out;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="var(--zw-red)" class="bi bi-check" viewBox="0 0 16 16">
                      <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                    </svg>
                  </div>
                </div>
              </div>
                  </div>
                </div>


                </div>

              </div>


               

                
                
                
                
                <!-- SENHA -->

                <div>


                  <h2 class="section-title">Senhas</h2>
           
                <div style="height: 40px; display: flex; width: 300px; align-items: center; background: white; overflow: hidden; border: 1px solid #b4b4b4; transition: 0.3s ease-in-out; box-sizing: content-box;" #emailContainer>
                  <div style="padding: 0 8px 0 8px; display: flex; justify-content: center; background: var(--zw-red); height: 100%; display: flex; align-items: center; justify-content: center;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-lock-fill" viewBox="0 0 16 16">
                      <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
                    </svg>
                  </div>
                  <input  name="senha" [(ngModel)]="password" type="password" style="flex-grow: 1; background-color: white;" placeholder="Senha" [ngModelOptions]="{standalone: true}" (ngModelChange)="onPasswordInputChange()" #passwordInput="ngModel" >

                  <div  *ngIf="valid_password" style="width: 30px; height: 100%; background: white; display: flex; justify-content: center; align-items: center; transition: 0.2s ease-in-out;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="var(--zw-red)" class="bi bi-check" viewBox="0 0 16 16">
                      <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                    </svg>
                  </div>
                </div>
                
                <!-- CONFIRM SENHA -->
                <div style="height: 40px; display: flex; width: 300px; align-items: center; background: white; overflow: hidden; border: 1px solid #b4b4b4; transition: 0.3s ease-in-out; box-sizing: content-box;" #confirmPasswordContainer>
                  <div style="padding: 0 8px 0 8px; display: flex; justify-content: center; background: var(--zw-red); height: 100%; display: flex; align-items: center; justify-content: center;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z"/>
                      <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z"/>
                    </svg>
                  </div>
                  <input  name="confirmar_senha" [(ngModel)]="confirmPassword" type="password" style="flex-grow: 1; background-color: white;" placeholder="Confirmar Senha" [ngModelOptions]="{standalone: true}" (ngModelChange)="onConfirmPasswordInputChange()" #confirmPasswordInput="ngModel" >

                  <div  *ngIf="valid_confirm_password" style="width: 30px; height: 100%; background: white; display: flex; justify-content: center; align-items: center; transition: 0.2s ease-in-out;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="var(--zw-red)" class="bi bi-check" viewBox="0 0 16 16">
                      <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                    </svg>
                  </div>
                </div>
              </div>
            



               

                <!-- CPNJ -->
                <!-- <div style="height: 40px; display: flex; width: 300px; align-items: center; background: white; overflow: hidden; border: 1px solid #b4b4b4; transition: 0.3s ease-in-out; box-sizing: content-box;" #addressContainer>
                  <div style="padding: 0 8px 0 8px; display: flex; justify-content: center; background: var(--zw-red); height: 100%; display: flex; align-items: center; justify-content: center;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                      <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
                    </svg>
                  </div>
                  <input  name="endereco" [(ngModel)]="address" type="text" style="flex-grow: 1; background-color: white;" placeholder="Endereço" [ngModelOptions]="{standalone: true}" (ngModelChange)="onAddressInputChange()" #addressInput="ngModel" >
  
                  <div  *ngIf="valid_address" style="width: 30px; height: 100%; background: white; display: flex; justify-content: center; align-items: center; transition: 0.2s ease-in-out;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="var(--zw-red)" class="bi bi-check" viewBox="0 0 16 16">
                      <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                    </svg>
                  </div>
                </div> -->

               

            
          
           
               
                
             

          

              <!--  ENDEREÇO -->

              <div>

       
                <h2 class="section-title">Localidade</h2>

              <div style="height: 40px; display: flex; width: 300px; align-items: center; background: white; overflow: hidden; border: 1px solid #b4b4b4; transition: 0.3s ease-in-out; box-sizing: content-box;" #addressContainer>
                <div style="padding: 0 8px 0 8px; display: flex; justify-content: center; background: var(--zw-red); height: 100%; display: flex; align-items: center; justify-content: center;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-globe-americas" viewBox="0 0 16 16">
                    <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0ZM2.04 4.326c.325 1.329 2.532 2.54 3.717 3.19.48.263.793.434.743.484-.08.08-.162.158-.242.234-.416.396-.787.749-.758 1.266.035.634.618.824 1.214 1.017.577.188 1.168.38 1.286.983.082.417-.075.988-.22 1.52-.215.782-.406 1.48.22 1.48 1.5-.5 3.798-3.186 4-5 .138-1.243-2-2-3.5-2.5-.478-.16-.755.081-.99.284-.172.15-.322.279-.51.216-.445-.148-2.5-2-1.5-2.5.78-.39.952-.171 1.227.182.078.099.163.208.273.318.609.304.662-.132.723-.633.039-.322.081-.671.277-.867.434-.434 1.265-.791 2.028-1.12.712-.306 1.365-.587 1.579-.88A7 7 0 1 1 2.04 4.327Z"/>
                  </svg>
                </div>
                <input  name="endereco" [(ngModel)]="address" type="text" style="flex-grow: 1; background-color: white;" placeholder="Endereço" [ngModelOptions]="{standalone: true}" (ngModelChange)="onAddressInputChange()" #addressInput="ngModel" >

                <div  *ngIf="valid_address" style="width: 30px; height: 100%; background: white; display: flex; justify-content: center; align-items: center; transition: 0.2s ease-in-out;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="var(--zw-red)" class="bi bi-check" viewBox="0 0 16 16">
                    <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                  </svg>
                </div>
              </div>
               
          

                <div style="display: flex; justify-content: space-between; width: 100%;">

                    
                     
                    <div style="height: 40px; display: flex; width: 145px; align-items: center; background: white; overflow: hidden; border: 1px solid #b4b4b4; transition: 0.3s ease-in-out; box-sizing: content-box;" #addressContainer>
                      <div style="padding: 0 8px 0 8px; display: flex; justify-content: center; background: var(--zw-red); height: 100%; display: flex; align-items: center; justify-content: center;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                          <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                        </svg>
                      </div>
                     
                      <select  [(ngModel)]="address_state" name= "UF" style="box-shadow: 2px 4px 6px -3px rgba(0, 0, 0, 0.214); width: 145px;">
                        <option value="">Estado</option>
                        <option value="AC">AC</option>
                        <option value="DF">DF</option>
                        <option value="ES">ES</option>
                        <option value="GO">GO</option>
                        <option value="SC">SC</option>
                        <option value="SP">SP</option>
                    </select>
                     
                    </div>

                 
                    <div style="height: 40px; display: flex; width: 145px; align-items: center; background: white; overflow: hidden; border: 1px solid #b4b4b4; transition: 0.3s ease-in-out; box-sizing: content-box;" #addressNumberContainer>
                      <div style="padding: 0 8px 0 8px; display: flex; justify-content: center; background: var(--zw-red); height: 100%; display: flex; align-items: center; justify-content: center;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                          <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                        </svg>
                      </div>
                      <input  name="numberoEndereco" [(ngModel)]="addressNumber" type="number" style="flex-grow: 1; background-color: white;" placeholder="Numero" [ngModelOptions]="{standalone: true}" (ngModelChange)="onAddressNumberInputChange()" #addressNumberInput="ngModel" >
      
                      <div  *ngIf="valid_address_number" style="width: 30px; height: 100%; background: white; display: flex; justify-content: center; align-items: center; transition: 0.2s ease-in-out;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="var(--zw-red)" class="bi bi-check" viewBox="0 0 16 16">
                          <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                        </svg>
                      </div>
                    </div>
                    
                </div>
              </div>

                          
                <button #registerButton (click)="register()" style="width: 100%; border: none; color: white; background: var(--zw-red); font-size: 1.3em; padding: 6px 46px 6px 46px; font-weight: 600; border-radius: 0px; box-shadow: none;" >

                  Registrar
                </button>
                
                <div style="height: 50px; display: flex; justify-content: center; align-items: center;">
                    <div #spinner class="spinner" *ngIf="loading"></div>
                </div>
                <!-- <input type="text" style="width: 300px; border-radius: 50px; "> -->
                <!-- <div style="display: flex; align-items: center;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="red" class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
                    <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"/>
                    <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"/>
                  </svg>
                    <p style=" font-size: .9em; word-spacing: 4px; text-align: center; width: 100%; color: red; font-weight: 500;">Usuário não existe.</p>
                    </div> -->


             
                <!-- <div style="display: flex; justify-content: space-between; width: 100%;">
    
                    <button (click)="login()" style="width: fit-content; border: none; color: var(--zw-red); background: white; font-size: 1.2em; padding: 6px 32px 6px 32px; border-radius: 8px; box-shadow: 2px 7px 4px -3px rgba(0, 0, 0, 0.214); font-weight: 700;">Voltar</button>
                    <button (click)="login()" style="width: fit-content; border: none; color: white; background: var(--zw-red); font-size: 1.2em; padding: 6px 32px 6px 32px; border-radius: 8px; box-shadow: 2px 7px 4px -3px rgba(0, 0, 0, 0.214); font-weight: 700;">Próximo</button>
                </div> -->
                    
                  <!-- <div style="font-size: .8em; display: flex; flex-direction: column; gap: 8px; color: rgb(83, 83, 83);">
                    <p>Esqueceu sua senha? <a (click)="state = 'register'" style="margin-left: 4px;color: var(--zw-red);" id="link-tag">Recuperar Senha</a></p>
                      <p class="bottom-text">Não tem uma conta? <a (click)="state = 'register'" style="margin-left: 4px;  color: var(--zw-red);" id="link-tag">Registrar</a></p>
            
                  </div> -->
          
              <!-- <p>ou</p>
          
              <a (click)="state = 'register'" href="#"  id="google-login-button" class="google-signin-button">
          
                <span class="button-text">
                  Sign in with Google</span>
              </a> -->
            </div>
            
          </form>
          
     


    </main>
</main>
