
<div class="master">

    <div class="content">
        <img src="../../assets/test15-removebg-preview.png" alt="" style="width: 250px;">
        <h1>Bem-vindo ao ZeroWaste</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus quaerat voluptate cumque enim facilis nulla minima doloribus quam distinctio vel!</p>

        <div>
            <button class="classic-button start-button" (click)="goTo('login')">Começar</button>
            <button class="classic-button have-account-button" (click)="goTo('login')">Já Possuo Uma Conta</button>
        </div>
    </div>
</div>
<!-- <img src="../../assets/test16-removebg-preview.png" alt="" style="width: 250px;"> -->