<!-- <div class="box">
    <a href="" class="voltar"><div class="voltar-btn"><img src="../../assets/Voltar.png" alt=""></div></a>
    <h1>Faça seu agendamento!</h1>
    <br>
    <h2>NOME DA SOLICITAÇÃO</h2>
    <div class="holder data">
        <h3>Selecione o data da sua visita: </h3>
        <div class="info">
            <div class="dia">
                <select name="" id="" class="select">
                    <option value="" >Domingo</option>
                    <option value="" selected>Segunda-feira</option>
                    <option value="" >Terça-feira</option>
                    <option value="" >Quarta-feira</option>
                    <option value="" >Quinta-feira</option>
                    <option value="" >Sexta-feira</option>
                    <option value="" >Sábado</option>
                </select>
            </div>
            <div class="hora">
                <input type="time" class="input" placeholder="12:00">
            </div>
        </div>
    </div>
    <div class="holder" id="produtos">
        <div class="alimentoInfo" id="prod">
            <div class="alimento">
                <h3>Selecione o que deseja doar:</h3>
                <select name="" id="" class="select">
                    <option value="">Arroz</option>
                </select>
            </div>
            <div class="quantidade">
                <h3>Quantidade:</h3>
                <input type="text" class="input" placeholder="0 Kg">
            </div>    
        </div>
    </div>      
    <div class="btn-holder">
        <button class="envia-btn" (click)="createComponent()">
            <img src="../../assets/mais.png" alt="">Adicionar outro
        </button>
    </div>
    <br>
    <br>
    <br>
    <div class="btn-holder">
        <button class="confirma-btn">Agenda</button>
    </div>
</div> -->

<main class="master" [@slideToSide]>
    <app-header></app-header>
<main class="main">

    <span class="titles-box">
    
        <h2>Info</h2>


    </span>

    <div class="info">
        <h4>{{order?.name}}</h4>
        <p>{{order?.description}}</p>
        <p>Criado em: {{order?.created_at?.split('-')[0]}}</p>
    </div>

    <span class="titles-box">
        <h2>Funcionamento</h2>
    </span>
    <div class="days-of-week">
        <div class="week-day wd-activated">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-calendar2" viewBox="0 0 16 16">
                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z"/>
                    <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4z"/>
                  </svg>
            </span>
            <h3 style="margin-top: 16px;">Dom</h3>
        </div>
        <div class="week-day wd-activated">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-calendar2" viewBox="0 0 16 16">
                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z"/>
                    <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4z"/>
                  </svg>
            </span>
            <h3 style="margin-top: 16px;">Seg</h3>
        </div>
        <div class="week-day wd-activated">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-calendar2" viewBox="0 0 16 16">
                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z"/>
                    <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4z"/>
                  </svg>
            </span>
            <h3 style="margin-top: 16px;">Ter</h3>
        </div>
        <div class="week-day wd-activated">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-calendar2" viewBox="0 0 16 16">
                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z"/>
                    <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4z"/>
                  </svg>
            </span>
            <h3 style="margin-top: 16px;">Qua</h3>
        </div>
        <div class="week-day wd-activated">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-calendar2" viewBox="0 0 16 16">
                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z"/>
                    <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4z"/>
                  </svg>
            </span>
            <h3 style="margin-top: 16px;">Qui</h3>
        </div>
        <div class="week-day wd-activated">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-calendar2" viewBox="0 0 16 16">
                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z"/>
                    <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4z"/>
                  </svg>
            </span>
            <h3 style="margin-top: 16px;">Sex</h3>
        </div>
        <div class="week-day wd-activated">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-calendar2" viewBox="0 0 16 16">
                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z"/>
                    <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4z"/>
                  </svg>
            </span>
            <h3 style="margin-top: 16px;">Sab</h3>
        </div>
    
     
    </div>
    
    <span class="titles-box">
        <div>
            <h2 class="box-title">Horários Disponiveis</h2>
            <h4>Selecione um horário</h4>
        </div>
    </span>
    <div class="times">

        <div *ngFor="let weekday of week_days">
            
            <div  *ngIf="times?.[weekday] === closed" class="time closed">
            <span class="time-pic">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                    <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
                  </svg>
            </span>
            <div class="time-info">
                <h3>{{weekday}}</h3>
                <p>{{times?.[weekday]}}</p>
            </div>
        </div>
        <div *ngIf="times?.[weekday] !== closed" class="time open">
            <span class="time-pic">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                    <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
                  </svg>
            </span>
            <div class="time-info">
                <h3>{{weekday}}</h3>
                <p>{{times?.[weekday]}}</p>
            </div>
        </div>
        
        
    </div>
</div>

    <span class="titles-box">
        <h2>Progresso</h2>
    </span>
    <div class="progress-bar">

    </div>

    <span class="titles-box">
        <h2>Dados da Solicitação</h2>
    </span>
    <div class="request">
        <table style="background: blue; width: 100%;">
            <thead style="background: green;">
              <tr>
                <th>ITEM</th>
                <th>REQUERIDO</th>
                <th>DOADO</th>
              </tr>
            </thead>
            <tbody *ngFor="let item of order?.items; let i = index">
              <tr>
                <td>{{item_names[i]}}</td>
                <td>{{item}}</td>
                <td>{{order.donated[i]}}</td>
              </tr>
            </tbody>
         
          </table>

    </div>


    <span class="titles-box">
        <div>
            <h2>Doação</h2>
            <h4>Abaixo estão os items possiveis para essa doação. Selecione oque deseja doar.</h4>
        </div>
    </span>
    <div class="donations">
        <div *ngFor="let item of order?.items; let i = index">    
            <div class="donation" *ngIf="(item - order.donated[i]) > 0" (click)="toggleSelection(i)"
                [ngClass]="{'activated': inputData[i], 'disabled': !inputData[i]}"
                >
            <h3>{{item_names[i]}}</h3>
            <div class="donation-pair-of-button-and-input">
                <button class="classic-button p-btn">Doar</button>
                <p>max: {{item - order.donated[i]}}</p>
                <input (click)="preventDefault($event)" (change)="inputDataChanged(i)" type="number" class="quantity-input" [(ngModel)]="inputData[i]"max="item - order.donated[i]">
            </div>
        </div>
    </div>
   
    </div>
    

    
    <div style="width: 100vw; display: flex; position: absolute; bottom: 0; right: 0; background: yellow; justify-content: center; padding: 16px 0 16px 0;">
        <button class="classic-button p-btn marcar-agendamento-btn" (click)="makeAppointment()">Marcar Agendamento</button>
    </div>
</main>
</main>