<img class = "back"src="Vector_black.png" alt="">
<div class="container">
<h1 class="titulo">Preencha os campos abaixo para gerar o comprovante</h1>

<div class="form">  
    <form>
      <div class="form-group">
        <label  for="ID_agendamento">ID de agendamento</label>
        <input class="input" type="text" placeholder="Insira o ID da doação">
    </div> 
        <div class="form-group">
            <label  for="Data">Data</label>
            <input class="input" type="date" placeholder="Insira a data em que foi feito a doação">
        </div>
        <button class="form-button"type="submit">Enviar</button> 
</form>
</div>
</div>