<img class = "back"src="Vector_black.png" alt="">

<div class="password">

<div class="container">
    <h1 class="titulo">Esqueceu sua senha?</h1>
    <p class="subtitulo">Não se preocupe, enviaremos sua nova senha por e-mail.</p>
</div>

<div class="form">  
    <form>
      <div class="form-group">
        <label  for="E-mail">Endereço de E-mail</label>
        <input class="input" type="text" placeholder="example@gmail.com">
    </div> 
    <button class="form-button"type="submit">Enviar</button>
</form>
</div>
</div>