<main class="master">
    <app-header [back]="'perfil'" [color]=true [sidebarButton]="true"></app-header>
    <main class="main">



 
        <div  class="orders-container" >
            <div *ngIf="my_appointments?.length === 0 || !my_appointments" style="margin: auto; display: flex; justify-content: center; flex-direction: column; width: 100%; align-items: center; background: white; padding: 42px 16px 42px 16px; gap: 12px; color:rgb(170,170,170);">
                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="rgb(150,150,150)" class="bi bi-clipboard" viewBox="0 0 16 16">
                    <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                    <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                </svg>
                <p style="font-weight: 600; width: fit-content; text-align: center; width: 250px;">Voce não possui nenhum Agendamento...</p>
                   
                <button #loginButton (click)="goTo('/orders')" style="width: fit-content; border: none; color: white; background: var(--zw-red); font-size: 1.3em; padding: 6px 36px 6px 36px; font-weight: 600; border-radius: 0px; box-shadow: none;" >
                    Procurar
                  </button>
            </div>
                <!-- <img src="../../assets/no_requests-removebg-preview (1).png" style="margin: auto; width: 225px;"alt=""> -->
    
                <div style="display: flex; flex-direction: column; gap: 8px;">
                    <div *ngFor="let appointment of my_appointments">
                    <div class="request" style="position: relative; padding: 8px;"
                    [style.background]="appointment.confirmed ? 'rgb(240,240,240)' : null"
                    (click)="goToOrderPage(appointment?.order_parent_id)"
                    >
    
                    <!-- <div *ngIf="appointment.confirmed" style="position: absolute; inset: 0 16px 0 auto; margin: auto; border-radius: 25px; width: fit-content; height: fit-content;transform: rotate(30deg);  display: flex; justify-content: center; align-items: center; gap: 4px;">
                       
                          <img src="../../assets/red/profile/confirmed.png" style="width: 75px;" alt="">
                     
                    </div> -->
    
                        <div style="display: flex; justify-content: space-between; width: 100%;">
    
                            
    
                           
                        </div>
    
                        <div style="width: 100%; display: flex; flex-direction: column; align-items: flex-start; gap: 8px;">
                            <!-- <h4 class="company-name elip fl" style="text-transform: capitalize;">{{appointment?.name}}</h4> -->
                            <!-- <p class="company-description elip sl s-text clear-text">{{appointment?.description}}</p> -->

                            <div style="display: flex; justify-content: space-between; width: 100%;">
                                <p style="font-weight: 900; color: rgb(150,150,150); width: fit-content;">#{{appointment._id}}</p>
                                <div style="border-radius: 50%; padding: 2px; width: 22px; height: 22px; display: flex; justify-content: center; align-items: center;"
                                [style.background]="appointment.confirmed ? 'rgb(170,170,170)' : 'var(--zw-red)'"
                                >
                                    <svg (click)="goTo('ajuda')"  xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-question" viewBox="0 0 16 16"
                                    [style.fill]="appointment.confirmed ? 'white' : 'rgb(170,170,170)'"
                                    >
                                        <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                                      </svg>
                                </div>
                            </div>

                            <div style="font-size: .8em; padding: 4px 16px 4px 16px; background-color: var(--zw-red); color: white; border-radius: 25px;"
                            [style.background]="appointment.confirmed ? 'rgb(170,170,170)' : 'var(--zw-red)'"
                            >
                                Confirmado pela Ong
                            </div>

                            <div style="display: flex; align-items: center; gap: 6px;">
    
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="rgb(170,170,170)" class="bi bi-clock-fill" viewBox="0 0 16 16">
                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                                  </svg>
                                  <div style="display: flex; align-items: center; gap: 6px;">
                                      <p [style.color]="appointment.confirmed ? 'rgb(180,180,180)' : 'black'">10:00 às 18:00 </p>
                                      <!-- <p class="elip fl" style="padding: 2px 6px 2px 6px; text-transform: uppercase; color: white; font-weight: 700; width: fit-content;"
                                      [style.background]="appointment.confirmed ? 'rgb(180,180,180)' : 'var(--zw-red)'">{{appointment?.day}}</p> -->
                                      
                                    </div>
                                  
    
                            </div>
    
                            <div style="display: flex; align-items: center; justify-content: left; gap: 6px; width: fit-content;">
                                <!-- <div style=" margin: 0;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="rgb(170,170,170)" class="bi bi-bag-fill" viewBox="0 0 16 16">
                                        <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5z"/>
                                    </svg>
                                </div> -->
                                  <div style="width: fit-content;">
                                    <!-- <div style="margin: 0;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="rgb(170,170,170)" class="bi bi-bag-fill" viewBox="0 0 16 16">
                                            <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5z"/>
                                        </svg>
                                    </div> -->
    
                                    <div *ngFor="let item of appointment?.items; let i = index">
                                        
                                        
                                        <div style="margin: 0;">
                                            <p *ngIf="item !== 0" [style.color]="appointment.confirmed ? 'rgb(180,180,180)' : 'black'"
                                            style=" margin: 0; display: flex; align-items: center; gap: 4px;">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="rgb(170,170,170)" class="bi bi-bag-fill" viewBox="0 0 16 16">
                                                <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5z"/>
                                            </svg>
                                            {{possible_items[i]}}: {{item}} Kg</p>
                                        </div>
                                    </div>
                                    <p [style.color]="appointment?.confirmed ? 'rgb(180,180,180)' : 'black'" style="margin-top: 8px;">{{appointment.created_at}}</p>
                                </div>
                            </div>
    
                        </div>

                            <div style="display: flex; width: 100%; justify-content: space-between;">

                                <button *ngIf="!appointment.confirmed" (click)="desmarcar(appointment._id)"  style="width:fit-content; border: none; color: white; background: var(--zw-red); font-size: 1.3em; padding: 6px 16px 6px 16px; font-weight: 600; border-radius: 0px; box-shadow: none;" >Desmarcar</button>
    
                                <!-- <button *ngIf="!appointment.confirmed" (click)="goToOrderPage(appointment?.order_parent_id)"  style="width:fit-content; border: none; color: var(--zw-red); background: white; font-size: 1.3em; padding: 6px 16px 6px 16px; font-weight: 600; border-radius: 0px; box-shadow: none;" >
                                    Ver Solicitação
                                </button> -->
    
                                <!-- <button *ngIf="appointment.confirmed"  style="width:fit-content; border: none; color: rgb(170,170,170); background: whitesmoke; font-size: 1.3em; padding: 6px 16px 6px 16px; font-weight: 600; border-radius: 0px; box-shadow: none;" >Desmarcar</button> -->
                                
                                <!-- <button *ngIf="appointment.confirmed" (click)="goToOrderPage(appointment?.order_parent_id)"  style="width:fit-content; border: none; color: rgb(170,170,170); background: whitesmoke; font-size: 1.3em; padding: 6px 16px 6px 16px; font-weight: 600; border-radius: 0px; box-shadow: none;" >
                                    Ver Solicitação
                                </button> -->
                            </div>
                    </div>
    
                </div>
        </div>
    </div>




        
    </main>
</main>