
<main class="master" [@slideAnimation]>
    <main class="main" >


        <div style="display: flex; flex-direction: column; gap: 24px; align-items: center; justify-content: center; background-color: white;height: 100%;">

            <img src="../../assets/mail.png" alt="" style="width: 125px;">
            <h2 style="font-size: 1.7em; color: rgb(45,45,45); font-weight: 800;">Confirmação de Email</h2>
            <p style="font-weight: 500; color: rgb(85,85,85); text-align: center; line-height: 24px; padding: 0 8px 0 8px;">Nós enviamos um email para  <span style="color: #CA262C;">{{email}}</span> Depois de visualizar seu email, acesse o Link fornecido para completar seu registro</p>
        </div>

    </main>
</main>