<div class="box">
<a href="pagina-ong/1" class="voltar"><div class="voltar-btn"><img src="../../assets/Voltar.png" alt=""></div></a>
<div class="nome-sol"><h3>Nome da Solicitação</h3></div>

<p class="descricao-sol">Estamos criando essa doação para arrecadar alimento para ...</p>
<h3>Alimentos que estão sendo solicitados:</h3>
<div class="categorias"><p>Alimento</p><p>Quantidade</p><p>Doado</p></div>
<div class="alimentos"><p class="ali">Nome Do Alimento</p><p class="qtd">Quantidade pedida</p><p class="qtd-doada">Quantidade doada</p></div>
<div class="btn-holder"><button class="envia-btn" (click)="goToPage('criaragendamento')">Fazer agendamento</button></div>
<footer><a href="pagina-ong/0">Página da NOME DA ONG</a></footer>
</div>